* {
	background-color: pink;
}

h1 {
	font-size: 40px;
	font-family: Vivaldi;
	text-align: center;
}


h3 {
	font-size: 28px;
	font-family: French Script MT;

}

p {
	font-family: Bradley Hand ITC;

}

li {
	font-family: Bradley Hand ITC;
}